    .FUNDO {
        background-color: #F6DE7E;
    }

    * {
        margin: 0px;
    }

    :root {
        --cor-texto: rgb(255, 255, 255);
        --cor-secundaria: rgb(0, 0, 0);
    }

    .segundo_cabecalho {
        display: flex;
        justify-content: space-between;
        align-items: center;

        /* border: 10px solid rgb(0, 0, 0); */
        width: 100%;
        /* height: 200px; */
    }

    .cabecalho2 {
        display: flex;
        flex-direction: column;
        background-color: var(--cor-secundaria);
        align-items: center;
        padding: 20px;
    }

    header {
        display: flex;
        align-items: center;
        padding: 5px;
    }

    .logotipo {
        min-height: 50px;
        width: auto;
    }

    .linha_dourada {
        display: flex;
        justify-content: space-around;
        height: 100px;
        background-image: linear-gradient(to right, #B3802E, #F6DE7E, #B3802E);
    }

    .botoes_escolhas {
        text-align: center;
        margin-top: 20px;
        text-decoration: none;
        color: var(--cor-texto);
        padding: 10px;
        border: 2px solid var(--cor-secundaria);
        border-radius: 20px;
        display: inline-block;
        margin-right: 10px;
        background-color: black;
        height: 30px;

    }

    .botoes_cabecalho2 a {
        margin-right: 10px;
        text-decoration: none;
        color: var(--cor-secundaria);
        padding: 85px;
        justify-content: center;
        text-align: center;
        width: 80%;

    }

    .botoes_cabecalho {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .botoes_cabecalho a {
        /* margin-right: 10px; */
        text-decoration: none;
        color: var(--cor-texto);
        /* padding: 115px; */
        /* justify-content: center;
        text-align: center; */
        /* width: 90%; */
    }
.primeiras_roupas {
    display: flex;
    padding: 20px;
    gap: 4%;
}

   .segundas_roupas {
    display: flex;
    padding: 20px;
    gap: 4%;
}

    .terceiras_roupas {
    display: flex;
    padding: 20px;
    gap: 4%;
}   

    .tres_primeiras_roupas {
        text-align: center;
        transition: transform 0.5s ease-in-out;
        filter: drop-shadow(0 0 1rem black);
        font-size: 24px;
        background-color: white;
        border-radius: 5%;
        overflow: hidden;
    }

    .tres_primeiras_roupas:hover {
        transform: scale(1.1);

    }

   .tres_segundas_roupas {
    text-align: center;
    transition: transform 0.5s ease-in-out;
    filter: drop-shadow(0 0 1rem black);
    font-size: 24px;
    background-color: white;
    border-radius: 5%;
    overflow: hidden;
}
    .tres_segundas_roupas:hover {
        transform: scale(1.1);

    }

    .tres_terceiras_roupas {
        text-align: center;
        transition: transform 0.5s ease-in-out;
        filter: drop-shadow(0 0 1rem black);
        font-size: 24px;
        background-color: white;
        border-radius: 4%;
        overflow: hidden;
    }

    .tres_terceiras_roupas:hover {
        transform: scale(1.1);

    }

    .barra_input {
        width: 500px;
        border-style: ridge;
        border-color: black;
        border-radius: 20px
    }

    .barra {
        display: flex;

        flex: 1%;

        border-color: black;
    }

    .carrinho {
        display: flex;
        justify-content: left;
    }

    .container-inline img,
    .container-inline span {
        display: inline-block;
        vertical-align: middle;
        margin-top: 3px;
    }

    .container-inline img {
        width: 25px;
        margin-right: 5px;
    }
    .linha_dourada {
    display: flex;
    justify-content: space-around;
    height: 120px;
    background-image: linear-gradient(to right, #B3802E, #F6DE7E, #B3802E);
}

@media (max-width: 600px) {

   img {
        max-width: 100%;
        height: auto;
    }
   .botoes_escolhas {
        height: auto;
        margin: 5px;
        padding: 8px 14px;
        font-size: 16px;
    }

    .segundo_cabecalho {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .botoes_cabecalho {
        flex-wrap: wrap;
        gap: 10px;
    }

    .botoes_cabecalho a {
        padding: 6px 12px;
        font-size: 16px;
    }

    .barra_input {
        width: 80%;
    }

       
    .botoes_cabecalho a {
        padding: 4px 0;
        font-size: 14px;
    }

    .barra_input {
        width: 90%;
        font-size: 14px;
    }

    .linha_dourada {
        flex-direction: column;
        height: auto;
    }

    .botoes_escolhas {
        width: 80%;
        font-size: 14px;
    }

    /* PRODUTOS EM COLUNA */
    .primeiras_roupas,
    .segundas_roupas,
    .terceiras_roupas {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .tres_primeiras_roupas,
    .tres_segundas_roupas,
    .tres_terceiras_roupas {
        width: 90%;
        font-size: 20px;
    }

    .tres_primeiras_roupas img,
    .tres_segundas_roupas img,
    .tres_terceiras_roupas img {
        width: 330px;
        height: 330px;
    }

    .CARRINHO_BOTAO {
        font-size: 16px;
        padding: 10px 20px;
        width: 80%;
    }

    .linha_dourada {
        flex-direction: column;
        height: auto;
        padding: 20px 0;
    }

    .botoes_escolhas {
        width: 90%;
        margin-top: 10px;
    }
    
    .CARRINHO_BOTAO {
        width: 100%;
        font-size: 14px;
    }
}