    .FUNDO {
        background-color: #F6DE7E;
    }

    * {
        margin: 0px;
    }

    :root {
        --cor-texto: rgb(255, 255, 255);
        --cor-secundaria: rgb(0, 0, 0);
    }

    .segundo_cabecalho {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        /* border: 10px solid rgb(0, 0, 0); */
        width: 100%;
        /* height: 200px; */
    }

    header {
        display: flex;
        align-items: center;
        padding: 5px;
    }

    .logotipo {
        min-height: 50px;
        width: auto;
    }

    .carrinho{
        display: flex;
        justify-content: left;
    }
    .cabecalho2{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-secundaria);
    align-items: center;
    padding: 20px;
    }
    .TEXTO{
        margin: 0 15px 0;
        text-align: center;
        background: #fff;
        box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .25);
        border-radius: 8px;
        padding: 25px;
        display: flex;
        align-items: center;
        color: #797b7c;
        }
    .titulo2{
        text-align: center;
    }

.linha_dourada {
    display: flex;
    justify-content: space-around;
    height: 120px;
    background-image: linear-gradient(to right, #B3802E, #F6DE7E, #B3802E);
}
.tele_inline{
    display: flex;
    align-items: center;
    margin-left:23vw ;/* muda a minha foto para a esquerda*/
    gap: 2vw;
    margin-top: 20px;
}
    .estrela{
        padding-left: 0;
        display: flex;

    gap: 5px;
    }

    .star{
        list-style-type: none;/*faz os pontos de topicos desaparecer*/
        cursor: pointer;/* quando vc aproxima o cursor ele aparece em mao*/
        color: #f5f4ee;
        font-size: 60px;
        /* width: 50px;tamanho */
    }

    .star::before{
        content:"\2605";/*TODAS AS MINHS ESTRELAS VÃO ESTAR PRENCHIDAS
        cor cheia*/
        /*2065 codigo do formato da estrela cor cheia *before* PROFESSOR VAI ME EXPLICAR*/
        font-size: 90px;
    }

    .star.ativo ~ .star::before{ /*MINHA PRIMEIRA ESTRELA VAI ESTAR PREENCHIDA    
        STAR ATIVO significa que minha 1 estrela vai estar preenchida
        STAR BEFORE significa que minha estrela vai estar vazia*/
        content:"\2606";/*contorno da estrela
        /*sobre o meu ativo com ~ no meio (SERVE PARA QUANDO EU CLILCAR NO ELEMENTO 3 VAI ATE O 3 E NÃO MUDA MINHA ESTRELA ELA PASSA DE 2605 COR CHEIA PARA 2606 COR VAZIA*/
        
        color: #f5f5f0;

    }

    .estrela:hover .star::before{ /* significa que quando eu passar o meu mouse mause em cima ele apareça a mão para clicar e minhas estrelas vão estar prenchidas*/
        content:"\2605"; /*cor cheia*/
    }

    .star:hover ~ .star::before{
        content:"\2606"; /* cor vazia*/
        color: rgb(255, 234, 118);

    }
.estelar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
p{
    font-size: 35px;
}
/* h1{
    margin-left: 60px;
} */
 .linha_dourada {
    display: flex;
    justify-content: space-around;
    height: 120px;
    background-image: linear-gradient(to right, #B3802E, #F6DE7E, #B3802E);
}

.botoes_escolhas {
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: var(--cor-texto);
    padding: 10px;
    border: 2px solid var(--cor-secundaria);
    border-radius: 20px;
    display: inline-block;
    margin-right: 10px;
    background-color: black;
    height: 30px;

}

.botoes_cabecalho2 a {
    margin-right: 10px;
    text-decoration: none;
    color: var(--cor-secundaria);
    padding: 85px;
    justify-content: center;
    text-align: center;
    width: 80%;

}
.botoes_cabecalho{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.botoes_cabecalho a {
    /* margin-right: 10px; */
    text-decoration: none;
    color: var(--cor-texto);
    /* padding: 115px; */
    /* justify-content: center;
    text-align: center; */
    /* width: 90%; */
}

.barra_input{
    width: 500px;
    border-style: ridge;
    border-color:black;
    border-radius: 20px
}
.barra{
    display: flex;
    
    flex: 1%;
    
    border-color: black;
}
.container-inline img,
.container-inline span{
  display: inline-block;
  vertical-align: middle;
  margin-top: 3px;
}
.container-inline img{
  width: 25px;
  margin-right: 5px;  
}
.linha_dourada {
    display: flex;
    justify-content: space-around;
    height: 120px;
    background-image: linear-gradient(to right, #B3802E, #F6DE7E, #B3802E);
}