    .FUNDO {
        background-color: #F6DE7E;
    }

    * {
        margin: 0px;
    }

    :root {
        --cor-texto: rgb(255, 255, 255);
        --cor-secundaria: rgb(0, 0, 0);
    }

    .segundo_cabecalho {
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        /* border: 10px solid rgb(0, 0, 0); */
        width: 100%;
        /* height: 200px; */
    }

    header {
        display: flex;
        align-items: center;
        padding: 5px;
    }

    .logotipo {
        min-height: 50px;
        width: auto;
    }

    .linha_dourada {
        display: flex;
        justify-content: space-around;
        height: 100px;
        background-image: linear-gradient(to right, #B3802E, #F6DE7E, #B3802E);
    }

    .botoes_escolhas {
        text-align: center;
        margin-top: 20px;
        text-decoration: none;
        color: var(--cor-texto);
        padding: 10px;
        border: 2px solid var(--cor-secundaria);
        border-radius: 20px;
        display: inline-block;
        margin-right: 10px;
        background-color: black;
        height: 30px;

    }

    .botoes_cabecalho2 a {
        margin-right: 10px;
        text-decoration: none;
        color: var(--cor-texto);
        padding: 85px;
        justify-content: center;
        text-align: center;
        width: 80%;

    }
    .botoes_cabecalho{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .botoes_cabecalho a {
        /* margin-right: 10px; */
        text-decoration: none;
        color: var(--cor-texto);
        /* padding: 115px; */
        /* justify-content: center;
        text-align: center; */
        /* width: 90%; */
    }

    .cabecalho{ 
        background-image: url(./imagens/Captura\ de\ tela\ 2025-10-30\ 170859.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: white;
        height: 150px;
        padding: 20px;
        text-align: center;
        border: 30px solid rgb(0, 0, 0);
        padding: 10px 10px;
    }
    .barra_input{
        width: 500px;
        border-style: ridge;
        border-color:black;
        border-radius: 20px
    }
    .barra{
        display: flex;
        
        flex: 1%;
        
        border-color: black;
    }
    .carrinho{
        display: flex;
        justify-content: left;
    }

    .cabecalho2{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-secundaria);
    align-items: center;
    padding: 20px;
    }
    .carrossel{
        width: 100%;
        overflow-x: auto;
        margin: 50px auto;
        display: flex;
        gap: 3em;
        scroll-behavior: smooth;
        position: relative;
        scroll-snap-type: x mandatory;
        overflow: hidden;
        height: fit-content;
        transition: transform 0.5s ease-in-out;
        filter: drop-shadow(0 0 1rem black);
    }


    .carrossel::-webkit-scrollbar{
        display: none;
    }

    .carrossel::scroll-button(right) {
        content: '⮕';
        border: none;
        background-color: var(--cor-texto);
        color: black;
        height: 55px;
        width: 60px;
        border-radius: 50%;
        padding-bottom: 1px;
        cursor: pointer;
        position: absolute;
        top: 75%;
        right: 0;

    }
    .carrossel::scroll-button(right):disabled {
        opacity: 0.5;
    }
    .carrossel::scroll-button(left) {
        content: '⬅';
        border: none;
        background-color: var(--cor-texto);
        color: black;
        height: 55px;
        width: 60px;
        border-radius: 50%;
        padding-bottom: 1px;
        cursor: pointer;
        position: absolute;
        top: 75%;
        left: 0;
    }
    .carrossel::scroll-button(left):disabled {
    opacity: 0.5;
    }

    .card{
        display: flex;
        scroll-snap-align: start;
        flex: 0 0 650px;
        height: 340px;
        background-color: var(--cor-secundaria);
        text-align: center;
        align-content: center;
        align-items: center;
       
    }
    .TEXTO{
        margin: 0 15px 0;
        text-align: center;
        background: #fff;
        box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .25);
        border-radius: 8px;
        padding: 25px;
        display: flex;
        align-items: center;
        color: #797b7c;
        }
/* .carrossel{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.card figcaption{
    background-color: var(--cor-secundaria);
    padding: 5px;
    color: white;
    width: 100px;
    /* position: absolute;
    bottom: 0;
    left: 0; */
}
.container-inline img,
.container-inline span{
  display: inline-block;
  vertical-align: middle;
  margin-top: 3px;
}
.container-inline img{
  width: 25px;
  margin-right: 5px;  
}
 .linha_dourada {
    display: flex;
    justify-content: space-around;
    height: 120px;
    background-image: linear-gradient(to right, #B3802E, #F6DE7E, #B3802E);
}